.container {
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 25rem;
  margin: 0; }
  @media only screen and (max-width: 500px) {
    .container {
      max-width: 80%;
    }
}

.container > * {
  margin: 3rem 0;
}

.main {
  padding-top: 3rem;
  /* flex: 1; */
  height: fit-content;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-gap: 3.5rem;
  justify-items: center;
  align-items: center;
}

.logo {
  border-radius: 50%;
}

.linkIcons {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1;
  grid-template-rows: 2;
  grid-gap: 0.5rem;
}

.linkIcons > span > svg {
  width: 2rem !important;
  height: auto;
  cursor: pointer;
  margin: 0.5rem; }
  @media only screen and (max-width: 360px) {
    .linkIcons > span > svg {
      width: 1.25rem !important;
    }
    .linkIcons > span > svg:first-child {
      height: 1.333rem !important;
    }
}


.linkIcons > span > svg:first-child {
  height: 2rem;
  width: auto;
}

.linkIcons > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-weight: var(--font-weight-heavy);
  margin: 0;
  padding: 0 0.5rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.logoLinks {

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.linkWrapper {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-gap: 0.75rem;
  align-items: center;
  justify-items: center;
  max-width: 20rem;
  width: 100%;
}

.socialLink {
  border: 2px solid var(--dark-color);
  border-radius: 0.333rem;
  padding: 0.5rem;
  /* display: grid;
  grid-template-columns: 1fr 1.666rem 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.socialLink > * + * {
  margin-left: 0.5rem;
}

/* .socialLink > svg {
  grid-column-start: 2;
}

.socialLink > p {
  margin-top: 0.333rem;
  justify-self: flex-start;
} */